<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TODOlist - Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML template for Your company">
    <meta name="author" content="Oskar Żabik (oskar.zabik@gmail.com)">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/typica-login.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <style type="text/css">
        .overlay {
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 100;
            background: rgba(0, 0, 0, 0.8);
            display: none;

        }

        .overlayContainer {
            margin-top: -90px;
            margin-left: -90px;
            top: 50%;
            left: 50%;
            background: url("img/loading.gif") no-repeat;
            background-size: 180px;
            text-align: center;
            width: 180px;
            height: 180px;
            z-index: 101;
            position: absolute;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            border-radius: 15px;
            -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);

        }

        .overlayContainer div {
            padding: 10px;
        }
    </style>

</head>

<body>
<div id="overlay" class="overlay">
    <div class="overlayContainer">
        <div>
            <p>Autenticando, por favor espere...</p>
        </div>
    </div>
</div>
<div class="container">

    <div id="login-wraper">

        <% if (registered) { %>
        <p><%= registered %></p>
        <% } %>

        <form class="form login-form" action="/login" method="post">
            <legend>TODOlist<span class="blue">Login</span></legend>

            <div class="body">
                <label>Usuario</label>
                <input type="text" name="username">
                <label>Contraseña</label>
                <input type="password" name="password">
                <% if (message.length != 0) { %>
                <div class="alert alert-error"><strong>Error: </strong><%= message %></div>
                <% } %>

                <div class="footer">
                    <label class="checkbox inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Recordarme
                    </label>

                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </div>


        </form>
    </div>

</div>

<footer class="white navbar-fixed-bottom">
    ¿No tienes una cuenta? <a href="/register" class="btn btn-black">Regístrate</a>
</footer>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.4.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
    $("form").submit(function () {
        setTimeout(function () {
            $("#overlay").fadeIn();
        }, 2000)
    })
</script>


</body>
</html>
