
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TODOlist - Register Form</title>

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/typica-login.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <style type="text/css">

        #demoNavigation {
            margin-top : 0.5em;
            margin-right : 1em;
            text-align: right;
        }
    </style>

</head>

<body>


<div class="container">

    <div id="login-wraper" class="login-form">

        <legend>TODOlist<span class="blue">Register</span></legend>

        <% if (message.length>0) { %>
        <div class="alert error"><%= message %></div>
        <% } %>

        <form id="demoForm" class="login-form" method="post" action="/register"">
        <div class="body">
				<span class="step" id="first">
					<span class="font_normal_07em_black">Paso 1 - Datos personales</span><br />
					<input name="name" type="text" class="input-block-level" placeholder="Nombre">
					<input name="surname" type="text" class="input-block-level" placeholder="Apellidos">
                    <input name="email" type="text" class="input-block-level"
                           placeholder="Email" onchange="validarEmail(this.form.email.value);">
                    <input name="country" type="text" class="input-block-level" placeholder="País">
                    <input name="city" type="text" class="input-block-level" placeholder="Ciudad">
				</span>
				<span id="second" class="step">
					<span class="font_normal_07em_black">Paso 2 - Datos de usuario</span><br />
					<input name="username" type="text" class="input-block-level" placeholder="Usuario">
                    <input name="password" type="password" class="input-block-level"
                           placeholder="Contraseña" id="txtNewPassword">
                    <input type="password" class="input-block-level"
                           placeholder="Confirmar contraseña" id="txtConfirmPassword" onchange="checkPasswordMatch()">
                    <h6>Pregunta Secreta</h6>
                    <select name="question">
                        <option value="1">Nombre de tu mejor amigo de la infancia</option>
                        <option value="2">Nombre de tu primera mascota</option>
                        <option value="3">Nombre de tu primer colegio</option>
                    </select>
                    <input name="answer" type="text" class="input-block-level" placeholder="Respuesta">
				</span>
        </div>
        <div id="demoNavigation">
            <button class="btn btn-short btn-primary" type="reset">Anterior</button>
            <button class="btn btn-short btn-primary" type="submit">Siguiente</button>
        </div>
        </div>
            <div class="registrationFormAlert" id="divCheckPasswordMatch">
        </div>
        </form>
    </div>

</div>

<footer class="white navbar-fixed-bottom">
    Volver a la página de  <a href="/login" class="btn btn-black">Login</a>
</footer>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/bbq.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.form.wizard.js"></script>


<script type="text/javascript">
    $(function(){
        $("#demoForm").formwizard({
                    validationEnabled: true,
                    focusFirstInput : true
                }
        );
    });
</script>

<script>
    function validarEmail(valor) {
        if (/w+([.-]?w+)*@w+([.-]?w+)*(.w{2,3})+$/.test(valor)){
            return (true)
        } else {
            alert(valor);
            return (false);
        }
    }
</script>

<script>
    function checkPasswordMatch() {
        var password = $("#txtNewPassword").val();
        var confirmPassword = $("#txtConfirmPassword").val();

        if (password != confirmPassword)
            $("#divCheckPasswordMatch").html("Las contraseñas no coinciden!");
        else
            $("#divCheckPasswordMatch").html("Las contraseñas coinciden");
}</script>


</body>
</html>
