html, body {
    width: auto;
    margin: 0px;
    height: 100%;
    min-height: 280px;
}

.index {
    background: url("/img/wood-bg.jpg") repeat;
}

.padding0 {
    padding: 0;
}

#wrap
{
    min-height: 100%;
}

.todoLists .tasksList {
    margin-top: 50px;
    margin-bottom: 50px;
}

.todoLists {
    position: relative;
    min-width: 200px;
    min-height: 280px;
}

.todoTasks {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    min-width: 200px;
}

.taskListTitle {
    background-color: white;
    text-align: center;
    background-color: #83c8f9;
    color: white;
    border-bottom: 2px solid gray;
}

.box {
    padding: 10px;
    width: 170px;
    height: 170px;
    display: inline-block;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.box .task {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%
}

.box .task-desc {
    width: 170px;
    height: 170px;
    background: #EEE;
    color: #333;
    text-align: left;
    position: absolute;
    margin-top: -170px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 0);
    opacity: 0;
}

.box .task-desc:before{
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.box .task-desc .header{
    padding: 0;
    width: 100%;
}

.box .task-desc .desc{
    font-size: 14px;
}

.task:before {
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.task div {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
.addTask {
   background: #ebebeb;
}
.addTask:hover {
    background: #c9c9c9;
}

.box .task-desc:hover {
    text-decoration: none;
    -webkit-animation: fadeIn 1s;
    /* Safari 4+ */
    -moz-animation: fadeIn 1s;
    /* Fx 5+ */
    -o-animation: fadeIn 1s;
    /* Opera 12+ */
    animation: fadeIn 1s;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 100);
    opacity: 1;
}

.box *{
    cursor: default;
}
.name {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    width: 100%;
}

.incompleted {
    background: #4787ED;
}

.completed {
    background: #54cd44;
}

.expired {
    background: #E26666;
}

.icon-big-plus {
    background-image: url("/img/glyphicons-big.png");
    width: 26px;
    height: 26px;
    background-position: -1px -912px;
}

.icon-big-envelope {
    background-image: url("/img/glyphicons-big.png");
    width: 26px;
    height: 26px;
    background-position: -1px -912px;
}

.listsLinks {
    max-height: 100%;
    overflow-y: auto;
    background: #ffffff;
}

.listsLinks a {
    border-style: none solid solid;
    border-width: 0 1px 1px;
    border-color: #DDD;
    color: #666;
    display: block;
    background-color: white;
    padding: 0;
}

.listsLinks li{
    line-height: 25px;
}

#listsWell {
    height: 70%;
}

.listsAddDelete {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.tall {
    height: 100%;
}

.favoritesCont {
    vertical-align: top !important;
    width: 100%;
}

.favoritesCont * {
    display: inline-block;
}

.favoritesCont *:before {
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.favicon {
    width: 30px;
    height: 20px;
    padding: 4px;
    background: url("/img/Star_Empty.png") no-repeat center;
    background-size: 30px;
    vertical-align: middle;
}

.favorite {
    background: url("/img/Star_Gold.png") no-repeat center;
    background-size: 30px;
}

.favicon:hover {
    background: url("/img/Star_Gold.png") no-repeat center;
    background-size: 27px;
}

.nav i {
    margin-top: 2px;
}

li .notification {
    border-bottom: 1px solid #E5E5E5;argin: 8px 1px;
    margin-bottom: 6px;
}
li .notification a{
    width: 400px;
}
li .notification a:hover{
    background: #ffffff!important;
    color: #000000;
}

li .notification .description{
    padding-top: 10px;
}

.tiny{
    line-height: 12px!important;
}

div .comprimed ul{
    margin-left: 0;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar {
    width: 100px;
    float: left;
    height: 100%;
    position: fixed;
    left: 0;
    top: 60px;
    background-color: #F1F1F1;
    border-right: 1px solid #E5E5E5;
}

.pagination:before {
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.shadowed {
    -webkit-box-shadow: 3px 2px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 2px 10px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 2px 10px rgba(50, 50, 50, 0.75);

}

.status{
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
}
.online{
    background-image: url("/img/green_light.png");
}
.offline{
    background-image: url("/img/red_light.png");
}
#alert-area {
	font-size: large;
	text-align: center;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
}

.overlayContainer {
    margin-top: -90px;
    margin-left: -90px;
    top: 50%;
    left: 50%;
    background: url("/img/loading.gif") no-repeat;
    background-size: 180px;
    text-align: center;
    width: 180px;
    height: 180px;
    z-index: 101;
    position: absolute;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);

}

.invisible {
    visibility: hidden;
}

.overlayContainer div {
    padding: 10px;
}