html, body {
  width:  auto;
  margin: 0px;
}
body {
	margin-left: 30px;
	margin-right: 30px;
}
.padding0{
	padding: 0;
}
.todoLists .tasksList{
	margin-top:50px;
	margin-bottom:50px;
}
.todoLists{
    position: relative;
    height: 600px;
    min-width: 200px;
    padding: 10px;
}
.taskListTitle{
	background-color: white;
	text-align: center;
	background-color: #83c8f9;
	color: white;
	border-bottom: 2px solid gray;
}
.task{
    height: 100px;
	text-align: center;
	line-height: 8em;
	padding: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    line-height: 8em;
}
.task:hover{
	text-decoration: none;
	border-style: solid;
    background-color:#dfdfdf;
}

.incompleted{
    color: #4787ED;
}

.completed{
    color: #54cd44;
}

.expired{
    color: #E26666;
}

.icon-big-plus{
    background-image: url("/img/glyphicons-big.png");
    width: 26px;
    height: 26px;
    background-position: -1px -912px;
}

.listsLinks {
    height: 80%;
    min-height: 240px;
    overflow-y: scroll;
    background: #ffffff;
}

#dropdownLists{
	width: 100%;
}
.listsAddDelete{
    bottom: 0;
    padding: 20px;
}

.shortcutTask{
    height: 100px;
}