html, body {
    width: auto;
    margin: 0px;
}

.padding0 {
    padding: 0;
}

.todoLists .tasksList {
    margin-top: 50px;
    margin-bottom: 50px;
}

.todoLists {
    position: relative;
    height: 600px;
    min-width: 200px;
    padding: 10px;
}

.todoTasks {
    overflow-y: scroll;
    position: relative;
    height: 600px;
    min-width: 200px;
    padding: 10px;
}

.taskListTitle {
    background-color: white;
    text-align: center;
    background-color: #83c8f9;
    color: white;
    border-bottom: 2px solid gray;
}

.box {
    padding: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.box .task {
    text-align: center;
    background-color: #ededed;
    color: #777777;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%
}

.box .task-desc {
    width: 200px;
    height: 200px;
    background: #EEE;
    color: #333;
    text-align: left;
    position: absolute;
    margin-top: -200px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
.task:before {
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.task div {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.box .task-desc:hover {
    text-decoration: none;
    -webkit-animation: fadeIn 1s;
    /* Safari 4+ */
    -moz-animation: fadeIn 1s;
    /* Fx 5+ */
    -o-animation: fadeIn 1s;
    /* Opera 12+ */
    animation: fadeIn 1s;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.name{
    font-size: 20px;
    font-weight: bold;
    line-height:30px
}

.incompleted {
    color: #4787ED;
}

.completed {
    color: #54cd44;
}

.expired {
    color: #E26666;
}

.icon-big-plus {
    background-image: url("/img/glyphicons-big.png");
    width: 26px;
    height: 26px;
    background-position: -1px -912px;
}

.listsLinks {
    height: 80%;
    min-height: 240px;
    overflow-y: scroll;
    background: #ffffff;
}

#dropdownLists {
    width: 100%;
}

.listsAddDelete {
    bottom: 0;
    padding: 20px;
}

.shortcutTask {
    height: 100px;
}